@import "paleta";

.footer__Up {
    a{
     text-decoration: none;
    }
    p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 40px;
    transition: font-size 0.5s;
    font-weight: 400;
    color: $oscuro;
        @media only screen and (min-width: 1200px){
            font-size: 45px; 
        } 
    }
    p:hover{
    font-size: 40.5px;
        @media only screen and (min-width: 1200px){
            font-size: 50.5px;
        }
    }
}

.TypeFoot{
	font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.5;
    color: $menta;
}
.TypeFootCopy{
    text-align:center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $oscuro;
}

.TextoFoo{
	display: flex;
	align-self: center;
    position:relative;
    top:10px
}
.footer__a--tamañoPosición{
    @media only screen and (min-width: 1200px){
        margin-top: 40px;
    }
    a{
        @media only screen and (min-width: 1200px){
            width: 60px;
            transition: width 0.5s;
        }
    }
    a:hover{
        @media only screen and (min-width: 1200px){
            width: 80px;
        }
    }
}
.footer__pago--padding{
    @media only screen and (min-width: 1200px){
        padding-top: 80px;
    }
}
.foo__text--pad{
    padding-top: 50px;
    position:relative;
    right:30px;
    @media only screen and (min-width: 1200px){
        padding-top: 80px;
    }
}
.footer__mail--ícono{
    padding-left: 10px;
    width:11%;
    position:relative;
    right:25px;
    @media only screen and (min-width: 1200px){
        position:relative;
        right:0px;
        width:10%;
    }
}
.footer__cel--ícono{
    padding-right: 10px;
    width:11%;
    @media only screen and (min-width: 1200px){
        width:10%;
    }
}
.footer__cel--numero{
    position: relative;
    right: 80px;
    top: 5px;
    overflow:hidden;

    @media only screen and (min-width: 1200px){
        position: relative;
        right: 110px;
        top: 5px;
    }    
}
.footer__mail--dire{
    position: relative;
    right: 70px;
    top: 5px;
    overflow:hidden;

    @media only screen and (min-width: 1200px){
        position: relative;
        right: 80px;
        top: 5px;
    }
}
.footer__MailCel--alinear{
    position: relative;
    left: 40px;
    width:100%;
    overflow:hidden;
    @media only screen and (min-width: 1200px){
        position: relative;
        left: 80px;
    }
}
.footer__icon--align{
    position: relative;
    left: 30px;
    overflow:hidden;
    @media only screen and (min-width: 1200px){
        position: relative;
        left: 70px;
    }
}