@import "paleta";

.TypeProd{
	font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    color: $oscuro;
		@media only screen and (min-width: 1200px){
	    	text-align: right;
		    position: relative;
			left: 100px;
	    }
    h5{
    	@media only screen and (min-width: 1200px){
    		font-size: 2rem;
    	}
	}
}

.TypeProd2{
	font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    color: $oscuro;
	    @media only screen and (min-width: 1200px){
	    	text-align: left;
		    position: relative;
		    right: 125px;
		}	
	h5{
		@media only screen and (min-width: 1200px){
			font-size: 2rem;
		}		
	}
}
.PrimerProducTienda{
		@media only screen and (min-width: 1200px){
		    display: flex;
		    flex-direction: row;
		    position: relative;
		    left: 200px;
    	}
    img{
    	@media only screen and (min-width: 1200px){
			width: 60%;
    	}
	}	
}

.SegunProducTienda{
	@media only screen and (min-width: 1200px){
		display: flex;
    	flex-direction: row;
    	position: relative;
    	left: 200px;
    } 
	img{
    	@media only screen and (min-width: 1200px){
			width: 60%;
    	}
    }
}
.InputBuscar{
	@media only screen and (min-width: 1200px){
		position:relative;
		left:300px;
	}
}
.Destacados--tipograf{
	font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    color: $miel;
    h5{
    	text-align: center;
    	font-size: 1.5rem;
    	font-weight: 600;
    }
}