@import "paleta";

#logo{
    width: 25%;

    @media only screen and (min-width: 1200px){
        width: 50%;
    }
}
.navMobile{
    position: relative;
    bottom:60px;
}
.carritoMobile{
    position: relative;
    left:225px;
    bottom:130px;
}
.liFondo{
    background-color: rgba(218, 246, 232, .9);
}
.stikyNav{
    position:fixed;
    top: 0;
    left: 0;
    height:15%;
    z-index: 999;
    transition: all 300ms ease-in-out;
}
.scroll-down .stikyNav{
    transform: translate3d(0, -100%, 0);
}
.scroll-up .stikyNav{
    filter: drop-shadow(0 -10px 20px rgb(170, 170, 170))
}


.navbar-expand-lg .navbar-collapse{justify-content: center;}
.navbar-nav{
    margin-top: 10px;
}

.nav__li--activa{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.9rem;
    font-weight: 500;
    color: $logo;
    padding: 5px;
    margin: 0px 5px 0px 5px;     
}

.nav__li--link{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.9rem;
    font-weight: 300;
    text-decoration: none;
    color: $oscuro;
    padding: 5px;
    margin: 0px 5px 0px 5px;
}    
